<div class="line-item">
<img src="<%= line_item.product.image %>" alt="<%= line_item.product.name %>" width="300" height="300">
    <p><%= line_item.product.name %></p>
    <p><%= line_item.product.description %></p>
    <p>Quantity: <%= line_item.quantity %></p>
    <p>Total: <%= line_item.total_price_cents / 100.0 %></p>
</div>